#awsglobalaccelerator.com
#compute-1.amazonaws.com
#compute.amazonaws.com
googleusercontent.com
msftconnecttest.com
data.microsoft.com
activity.windows.com
bingapis.com
#msedge.net
#assets.msn.com
scorecardresearch.com
#edge.microsoft.com
#data.msn.com
vultrusercontent.com
